@font-face {
    font-family: "inter-regular";
    src: url(../fonts/Inter-Regular.otf) format(openType);
}

@font-face {
    font-family: "inter-medium";
    src: url(../fonts/Inter-Medium.otf) format(openType);
}

@font-face {
    font-family: "inter-semibold";
    src: url(../fonts/Inter-SemiBold.otf) format(openType);
}

@font-face {
    font-family: "inter-extrabold";
    src: url(../fonts/Inter-ExtraBold.otf) format(openType);
}

@font-face {
    font-family: "inter-black";
    src: url(../fonts/Inter-Black.otf) format(openType);
}