* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(27, 35, 22);
}

.f-inter-reqular {
    font-family: "inter-regular";
}

.f-inter-medium {
    font-family: "inter-medium";
}

.f-inter-semibold {
    font-family: "inter-semibold";
}

.f-inter-extrabold {
    font-family: "inter-extrabold";
}

.f-inter-black {
    font-family: "inter-black";
}

.nav-link{
    color: white !important;
}