* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(27, 35, 22);
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}